graft docs
graft src
graft ci
graft tests

include .coveragerc
include .github/workflows/github-actions.yml
include .pre-commit-config.yaml
include .readthedocs.yml

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

global-exclude *.py[cod] __pycache__/* *.so *.dylib
